@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Sen&family=Ubuntu:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Sen&display=swap");

/* Main */

body {
  font-size: 16px;
  background-color: rgb(219, 219, 219);
  font-family: "Lora", sans-serif;
  margin: 0;
  padding: 5px;
  border: 5px solid;
  border-radius: 15px;
  width: 100%vw;
}

.section {
  margin: 10px;
  padding: 20px;
  margin-bottom: 25px;
}

/* Header */

.header {
  font-size: 40px;
  font-family: "Roboto Mono", sans-serif;
  position: relative;
  margin: 0;
  padding: 50px;
}
h1 {
  margin: 0;
}
/* customized aside  */
aside {
  background-color: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  height: 85vh;
  width: 100%;
  background-image: url(img/IMG-9965.JPG);
  background-position: center;
  background-size: cover;
}

header p {
  color: whitesmoke;
  font-size: 20px;
}

.imgProf {
  overflow: hidden;
  border-radius: 50%;
  max-width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.imgProf img {
  width: 100%;
  height: 100%;
}

/* Different Sections */

.h3 {
  font-family: "Roboto Mono", sans-serif;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
}

.h2 {
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 28px;
}

/* Navigation */
/* styling the nav container */
nav {
  position: sticky;
  top: 0;
  background-color: gray;
  opacity: 0.8;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid;
}
/* styling the nav list blocks(containers) */
nav ul li {
  background-color: rgb(50, 50, 235);
  margin: 0px;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
}
/* styling the links itself */
a {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-decoration: none;
}
/* hover */
nav ul li:hover {
  background-color: green;
  text-decoration: none;
}
/* displaying nav list container blocks in position */
.navList li {
  display: inline-block;
  margin-right: 60px;
  list-style-type: none;
}

/* Footer */

.foot {
  background-color: gray;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

td a {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

td {
  padding: 55px;
}
/* form */
.form {
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  background-color: gray;
}

.fullForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.formEl {
  padding: 10px;
}

h4 {
  font-size: large;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  padding: 50px;
}
input,
select,
textarea {
  border-radius: 15px;
  width: 400px;
  background-color: rgb(184, 180, 180);
}

.btn {
  background-color: olivedrab;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
}

/* tablet */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 20px;
    column-count: 1;
  }

  aside {
    display: grid;
    place-items: center;
  }

  .section {
    font-size: 20px;
    padding: 20px;
  }
  /* nav */
  nav ul li {
    font-size: 10px;
    padding: 10px;
  }
  .navList li {
    margin-right: 5px;
  }
  /* foot */

  footer {
    font-size: 1.2em;
  }
  td {
    padding: 10px;
  }
  /* form */
  input,
  select,
  textarea {
    border-radius: 15px;
    width: 250px;
  }
}

/* mobile */
@media only screen and (max-width: 550px) {
  body {
    font-size: 10px;
    column-count: 1;
  }

  aside {
    font-size: medium;
    display: grid;
    place-items: center;
  }

  article {
    font-size: 1em;
  }
  .section {
    font-size: 25px;
    padding: 15px;
  }
  /* nav */
  nav ul li {
    font-size: 10px;
    padding: 5px;
  }
  .navList li {
    margin-right: 1px;
  }
  /* foot */

  footer {
    font-size: 1.2em;
  }
  td {
    padding: 2px;
  }
  /* form */
  input,
  select,
  textarea {
    border-radius: 15px;
    width: 100px;
  }
}

@media only screen and (min-width: 1220px) {
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
